{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>项目管理
        <a href="{% url 'project_info:create' %}" class="btn btn-primary float-end">新增项目</a>
    </h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>项目编号</th>
                <th>项目名称</th>
                <th>发货日期</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.project_id }}</td>
                <td>{{ project.project_name }}</td>
                <td>{{ project.delivery_date }}</td>
                <td>
                    <a href="{% url 'project_info:update' project.project_id %}" class="btn btn-sm btn-warning">编辑</a>
                    <a href="{% url 'project_info:delete' project.project_id %}" class="btn btn-sm btn-danger">删除</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
